.login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    padding: 60px 68px 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.75);
    color: #8c8c8c;
  }
  .login-form h2 {
    margin: 0 0 28px;
    font-size: 32px;
    color: #fff;
  }
  .login-form form {
    width: 314px;
  }
  .login-form label {
    position: relative;
    display: block;
    padding: 0 0 16px;
  }
  .login-form label span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #8c8c8c;
    transition: all 0.2s ease;
  }
  .login-form label.focus span {
    font-size: 11px;
    top: 5px;
  }
  .login-form input[type="text"],
  .login-form input[type="password"] {
    padding: 12px 10px 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #333;
    border-radius: 5px;
  }
  .login-error {
    display: none;
    margin-bottom: -6px;
    padding: 6px 3px;
    color: #e87c03;
    font-size: 13px;
  }
  .login-form input.error {
    border-bottom: 2px solid #e87c03;
  }
  .login-error.error {
    display: block;
  }
  .login-form button[type="submit"] {
    margin: 24px 0;
    padding: 12px 0;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    background: #e50914;
    cursor: pointer;
  }
  
  .check-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px;
  }
  .check-container label {
    flex: 1;
    padding: 0 0 0 20px;
  }
  .login-check input {
    position: absolute;
    left: 0;
    top: 5px;
    width: 15px;
    height: 15px;
  }
  .check-container label span {
    position: relative;
    left: 0;
    top: 0;
    color: #b3b3b3;
    font-size: 13px;
  }
  .check-container a {
    font-size: 13px;
    /* text-decoration: underline; */
    cursor: pointer;
  }
  .login-form p {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  .login-form p img {
    margin-right: 10px;
    width: 25px;
  }
  .login-signup {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 15px;
  }
  .login-signup a {
    color: #fff;
  }
  .login-form div {
    font-size: 13px;
  }
  .google-check {
    height: 120px;
  }
  .google-check a {
    color: #0071eb;
  }
