.video {
  position: relative;
  border-radius: 5px;
}
.video-container {
  position: relative;
}
.video-info {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s 0.1s ease;
}
.video:hover {
  z-index: 2;
}
.video-thumb img {
  width: 100%;
}
