.video-list-container {
  overflow: hidden;
  margin: 0 0 55px 5%;
}
.video-list-container.focus {
  overflow: visible;
}
.video-list {
  position: relative;
  width: 95%;
  z-index: 10;
}
.video-list:hover {
  z-index: 11;
}
.list-name {
  padding: 0 0 10px;
  color: #ccc;
  font-weight: 600;
  transition: color 0.3s ease;
  cursor: pointer;
}
.list-name h3 {
  font-size: 32px;
}
.list-name span {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0;
  font-size: 14px;
  visibility: hidden;
  transition: width 0.5s ease;
}
.list-name:hover span {
  margin-left: 5px;
  width: 55px;
  height: 20px;
}
.list-name span em {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 60px;
  font-style: normal;
  visibility: visible;
}
.list-name b {
  display: none;
  font-size: 18px;
}
.video-list:hover .list-name b {
  display: inline;
  vertical-align: bottom;
}
.list-name:hover {
  color: #fff;
}

/* react-slick 관련 css */
.list {
  position: relative;
}
.slick-list {
  overflow: visible;
}
.slick-slide {
  padding: 0 1px;
}
.slick-list:hover .slick-slide {
  overflow: visible;
}
.slick-arrow {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 96px;
  height: 100%;
  font-size: 0;
  color: #fff;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease;
  cursor: pointer;
}
.slick-arrow:hover {
  background: rgba(0, 0, 0, 0.7);
}
.slick-prev {
  left: -96px;
}
.slick-next {
  right: -96px;
}
.slick-prev i,
.slick-next i {
  display: none;
  font-size: 50px;
  transition: all 0.3s ease;
}
.slick-arrow:hover i {
  transform: scale(1.5);
  transform-origin: center;
}
.video-list:hover .slick-prev > i,
.video-list:hover .slick-next > i {
  display: block;
}
