.home-email-container {
  display: flex;
}
.home-email-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

label[for="email_input"] {
  position: absolute;
  left: 11px;
  top: 25px;
  font-size: 16px;
  z-index: 1;
  color: #8c8c8c;
  transition: all 0.1s ease;
}
label[for="email_input"].focus {
  top: 5px;
  font-size: 13px;
  font-weight: 500;
}
#email_input {
  position: relative;
  width: 500px;
  padding: 25px 11px;
  font-size: 15px;
  color: #000;
}
.email-error {
  color: #ffa00a;
  text-align: left;
  padding: 6px 4px;
  font-weight: 400;
}
.email-submit {
  align-self: start;
  padding: 12px 32px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #f40612;
}
.email-submit::after {
  content: ">";
  margin-left: 5px;
}
.home-email-tip {
  font-size: 19px;
  margin: 15px 0;
  font-weight: 300;
  text-align: center;
}
