.home {
  background-color: #000;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
}
.home section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 8px solid #222;
}
