.step {
  margin: 0 auto;
  width: 70%;
  padding: 0 0 140px;
  text-align: center;
}
.step-current {
  font-weight: 700;
  font-size: 13px;
  margin: 0 0 5px;
}
/* step-intro */
.step-intro {
  padding: 140px 140px 0;
}
.step-intro img {
  width: 260px;
  margin-bottom: 40px;
}
.step-intro h2 {
  margin: 0 0 10px;
}
.step-intro-text {
  line-height: 1.5;
}
.step-intro button {
  margin: 30px 0 0;
  padding: 10px 50px;
  width: 340px;
  color: #fff;
  background: #e50914;
  font-size: 18px;
  cursor: pointer;
}
.step-intro-tip {
  padding: 20px 0;
  margin: 0 0 60px;
  width: 440px;
  height: 62px;
  background: #0071eb;
  color: #fff;
  text-align: center;
}
.sign-up-input {
  padding: 20px 140px;
  text-align: left;
}
.sign-up-tip {
  padding: 0 0 10px;
  font-size: 19px;
}
.sign-up-input form label {
  position: relative;
  display: block;
}
.sign-up-input form label span {
  position: absolute;
  left: 10px;
  top: 20px;
  color: #8c8c8c;
  transition: all 0.2s ease;
}
.sign-up-input form label.focus span {
  font-size: 13px;
  top: 5px;
}
.sign-up-input form input {
  padding: 12px 10px 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #ccc;
  box-sizing: initial;
}
.step-email-error {
  padding: 3px 0;
  font-size: 13px;
  color: #b92d2b;
}
.sign-up-input .step-check > label {
  display: flex;
  justify-content: space-between;
}
.sign-up-input .step-check > label div {
  margin: 0 0 15px;
  width: 90%;
}
.sign-up-input .step-check > label a {
  color: #0071eb;
}
.sign-up-input .step-check input {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
.sign-up-input button {
  width: 100%;
}
.step-check-error {
  transform: translateY(10px);
  font-size: 13px;
  color: #b92d2b;
}

/* step-price */
.step-price {
  padding: 0 140px 140px;
}
.step-price > img {
  margin: 120px 0 30px;
  width: 50px;
  height: 50px;
}
.step-check-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px 0 0;
}
.step-check-tip > li {
  margin: 0 0 20px;
  width: 300px;
  display: flex;
  justify-content: center;
  text-align: left;
}
.step-check-tip > li span {
  width: 80%;
}
.check-tip {
  margin-right: 15px;
}
.check-tip img {
  width: 19px;
  height: auto;
}
.step-price button {
  margin: 45px 0 0;
  padding: 12px 0;
  width: 340px;
  color: #fff;
  background: #e50914;
  font-size: 18px;
  cursor: pointer;
}
.step-priceinfo {
  text-align: left;
}
