@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
* {
  color: #fff;
  border: none;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.hide {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
}

body {
  background-color: #000;
  color: #fff;
  height: 101vh;
}
